---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->


<!-- Subheading for Talks -->
<h2>Talks</h2>
<ul>
  {% for talk in site.talks %}
  <li>
    <strong>{{ talk.title }}</strong> <a href="/files/slides/{{talk.file_name}}.pdf">[slides]</a> <br>
    <em>{{ talk.venue }}</em><br>
    <span>{{ talk.date | date: "%B %d, %Y" }}</span> | <span>{{ talk.location }}</span>
  </li>
  {% endfor %}
</ul>


<!-- Subheading for Posters -->
<h2>Posters</h2>
<ul>
  {% for poster in site.posters %}
  <li>
    <strong>{{ poster.title }}</strong> <a href="/files/posters/{{poster.file_name}}.pdf">[poster]</a> <br>
    <em>{{ poster.venue }}</em><br>
    <span>{{ poster.date | date: "%B %d, %Y" }}</span> | <span>{{ poster.location }}</span>
  </li>
  {% endfor %}
</ul>

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->